# Lists

In [1]:
nums = [[1,2,3],[4,5,6]]
print(nums)
print(nums[0])
print(nums[0][2])

[[1, 2, 3], [4, 5, 6]]
[1, 2, 3]
3

In [3]:
nums = []
a = int(input("Please enter a number : "))
b = int(input("Please enter a number : "))
c = int(input("Please enter a number : "))
nums.extend([a,b,c])
print(nums[0] + nums[1] + nums[2])
print(sum(nums))

15
15

# Tuple

In [6]:
data = (3,6,5,9,8,6)
print(data)
print(type(data))

# Slicing
print(data[3])

# data[3] = 7 #ERROR

(3, 6, 5, 9, 8, 6)
<class 'tuple'>
9

# Dictionary

In [8]:
# data = {Key : Value}
# Key --> can be int or str 
# value --> can be any python object 

data = {"Name" : "Omar" , "ID" : 123456789 , "Age" : 23}
print(data)
print(type(data))

# Slicing
print(data["Name"])
print(data["Age"])

# Modify
data["ID"] = 20190021
print(data)

#Adding new items
data["City"] = "6th of October "
print(data)
data["City"] = "Cairo"
print(data)

data.setdefault("Gender" , "Male")
print(data)
data.setdefault("Gender" , "MALE")
print(data)

tmp = {1 : 2 , 3 : 4}
data.update(tmp)
print(data)

{'Name': 'Omar', 'ID': 123456789, 'Age': 23}
<class 'dict'>
Omar
23
{'Name': 'Omar', 'ID': 20190021, 'Age': 23}
{'Name': 'Omar', 'ID': 20190021, 'Age': 23, 'City': '6th of October '}
{'Name': 'Omar', 'ID': 20190021, 'Age': 23, 'City': 'Cairo'}
{'Name': 'Omar', 'ID': 20190021, 'Age': 23, 'City': 'Cairo', 'Gender': 'Male'}
{'Name': 'Omar', 'ID': 20190021, 'Age': 23, 'City': 'Cairo', 'Gender': 'Male'}
{'Name': 'Omar', 'ID': 20190021, 'Age': 23, 'City': 'Cairo', 'Gender': 'Male', 1: 2, 3: 4}

In [2]:
data = {"Name" : "Omar" , "ID" : 123456789 , "Age" : 23, 'City': 'Cairo', 'Gender': 'Male'}

# remove items 
data.pop("City")
print(data)

data.popitem()
print(data)

# data.clear()
# print(data)

print(data.keys())
print(data.items())
print(data.values())

{'Name': 'Omar', 'ID': 123456789, 'Age': 23, 'Gender': 'Male'}
{'Name': 'Omar', 'ID': 123456789, 'Age': 23}
dict_keys(['Name', 'ID', 'Age'])
dict_items([('Name', 'Omar'), ('ID', 123456789), ('Age', 23)])
dict_values(['Omar', 123456789, 23])

In [3]:
# Shallow Copy
d1 = {"ID" : 123 , "Name" : "Omar"}
d2 = d1 
d2.setdefault("City" , "Cairo")
print(d1)
print(d2)

{'ID': 123, 'Name': 'Omar', 'City': 'Cairo'}
{'ID': 123, 'Name': 'Omar', 'City': 'Cairo'}

In [4]:
# Deep Copy
d1 = {"ID" : 123 , "Name" : "Omar"}
d2 = d1.copy() 
d2.setdefault("City" , "Cairo")
print(d1)
print(d2)

{'ID': 123, 'Name': 'Omar'}
{'ID': 123, 'Name': 'Omar', 'City': 'Cairo'}

# Set

In [5]:
nums = {23 , 54 , 23 , 5 , 668 , 34}
print(nums)
print(type(nums))

tmp = {23 , 7 , 6 , 5}
print(tmp.difference(nums))
print(nums.difference(tmp))

print(nums.union(tmp))
print(nums.intersection(tmp))

{34, 5, 54, 23, 668}
<class 'set'>
{6, 7}
{34, 668, 54}
{34, 5, 6, 7, 54, 23, 668}
{5, 23}

# Control Flow 
- Conditional ==> if , elif , else
- Loops ==> for , while

In [2]:
# If condition 
# Syntax 
# if (condition_1) : 
#   Statement_1     Statement_1 is executed only if condition_1 is True
# elif (condition_2) : 
#   Statement_2      Statement_2 is executed if condition_1 is False and 
#                      condition_2 is True
# else :
#     Statement_3      Statement_3 is execued only if condition_1 and 2 are False
#                       (Default Case)

x = 5 
if x > 5 : 
    print("X is larger than five") 
elif x < 5 : 
    print("X is less than five") 
else : 
    print("X is equal to five")

X is equal to five

In [4]:
a = int(input("Please enter a number :"))
b = int(input("Please enter a number :"))

if a+b > 50 :
    print("OK")
else :
    print("NOK")

NOK

In [5]:
grade = 80 
if grade > 90 :
    print("A")
if grade >= 80 :
    print("B")
if grade >= 70 :
    print("C")

B
C

In [6]:
grade = 80 
if grade > 90 :
    print("A")
elif grade >= 80 :
    print("B")
elif grade >= 70 :
    print("C")

B

# For Loop

In [7]:
# Syntax 
# for (iterator) in (iterable) : 
#           (Statement Block)

for i in [3 , 4 ,5] :
    print(i)

3
4
5

In [8]:
for i in [1,2,3,4,5,6,7,8,9,10] : 
    print(i*5)

5
10
15
20
25
30
35
40
45
50

In [11]:
# generators
# range 
print(range(10))
print(list(range(10)))
print(list(range(2,12)))
print(list(range(2 , 12 , 3 )))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[2, 5, 8, 11]

In [12]:
for i in range(1,11) :
    print(i * 5)

5
10
15
20
25
30
35
40
45
50

In [13]:
for i in range(5 , 51 , 5) :
    print(i)

5
10
15
20
25
30
35
40
45
50

In [14]:
#pass , break , continue 

for i in range(5) :
    if i == 3 :
        pass
    else :
        print(i)

0
1
2
4

In [15]:
for i in range(5) : 
    if i == 3:
        continue
    print(i)

0
1
2
4

In [16]:
for i in range(5) : 
    if i == 2 : 
        break
    print(i)

0
1

In [18]:
x = int(input("Please enter a number:"))
y = int(input("Please enter a number:"))
tmp = []
for i in range(x,y+1):
    if i%2==0:
        tmp.append(i)

print(tmp)

[2, 4, 6]

In [19]:
x = int(input("Please enter a number :"))
y = int(input("Please enter a number :"))
for i in range(x,y+1):
    print(i)
    if i%4 == 0:
        break

3
4

In [22]:
# True , False 
if -5 :
    print("Hello")

Hello

In [23]:
i = 21 
i % 4

1

# Quiz

In [ ]:
products_list ={"milk" : (48 , 12) , "eggs" : (3 , 265)}
while 1 :
    a = input("1- add item. \n 2- show items list. \n 3- delete item. \n 4- search for item. \n 5- exit. ") 
    if a in "12345" :
        if a == "1" :
            product = input("please enter the product name : ")
            price = float(input("please enter the product's price : "))
            quantity = int(input("please enter the product's quantity : "))
            products_list[product] = ( price , quantity)
        elif a == "2" :
            for i in products_list.keys() :
                print("Product name : ",i)
                print("Product's price : ",products_list[i][0])
                print("Product's quantity : ",products_list[i][1])
        elif  a == "3" : 
            y = input("Please enter item to delete : ")
            if y in products_list.keys() : 
                products_list.pop(y) 
            else : 
                print("this item isn't exist.")
        elif a == "4" : 
            x = input("please enter an item : ")
            if x in products_list.keys() : 
                print(x , " : " , products_list[x]) 
            else : 
                print("this item isn't exist.")
        elif a == "5" :
            break 
        else : 
            print("unvalid input.")
    else : 
            print("unvalid input.")

Product name :  milk
Product's price :  48
Product's quantity :  12
Product name :  eggs
Product's price :  3
Product's quantity :  265
Product name :  cheese
Product's price :  50.0
Product's quantity :  40
Product name :  milk
Product's price :  48
Product's quantity :  12
Product name :  cheese
Product's price :  50.0
Product's quantity :  40
milk  :  (48, 12)